
@font-face {
    font-family: 'KraftRegular';
    src: url('kraft-webfont.eot');
    src: url('kraft-webfont.eot') format('embedded-opentype'),
         url('kraft-webfont.woff') format('woff'),
         url('kraft-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}